{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1>Advent of Code 2019</h1>

    <div class="container">
        {% for i in ['Su', 'M', 'T', 'W', 'R', 'F', 'Sa'] %}
        <div class="element {% if loop.index0 == 0 or loop.index0 == 6 %}weekend{% else %}weekday{% endif %} ">
            <span class="title header">{{ i }}</span>
        </div>
        {% endfor %}
        {% for d, available in days %}
        <a class="element day {% if loop.index0 % 2 == 0 %}day-even{% else %}day-uneven{% endif %} {% if not available %}unavailable{% endif %}" href="{{ path('showDay', {day: d}) }}">
            <span class="title">{{ d }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
