body {
    background-color: #e0e0e0;
}

.button {
    display: inline-block;
    background-color: #999999;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    padding: 5px;

    text-decoration: none;
    color: #222222;
    &:visited {
        color: #332222;
    }
    &:hover {
        background-color: #777777;
    }
}

.button--info {
    background-color: #9999FF;
}
.button--warn {
    background-color: #FF9999;
}
.button--yes {
    background-color: #99FF99;
}

.updated {
    border-color: greenyellow;
    border-radius: 5px;
}
.updated--error {
    border-color: red;
    border-radius: 5px;
}

.flash {
    padding: 5px;
}
.flash-notice {
    background-color: #9999FF;
}
.flash-error {
    background-color: #FF9999;
}
.flash-success {
    background-color: #99FF99;
}

.container {
    display: flex;
    flex-wrap: wrap;
    .element {
        background-color: #338c57;
        margin: 10px 0 0 10px;
        height: 100px;
        width: calc(100% * (1/7) - 10px - 1px);
        text-decoration: none;

        .title {
            font-size: 32px;
            display: block;
            text-align: center;
            line-height: 100px;
            &.header {
                font-weight: bold;
            }
        }
    }

    .weekend {
        background-color: #26643e;
    }

    .day-even {
        background-color: #3aa84b;
        color: yellowgreen;
    }
    .day-uneven {
        background-color: #c43a35;
        color: orange;
    }
}

